# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env

# Streamlit
.streamlit/

# Chroma DBs
chroma_dbs/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode
.vscode/


